@model MazoriumWeb.Models.Maze

@{
    ViewData["Title"] = "Maze";
}

<h1>A maze</h1>
<form asp-controller="Maze" asp-action="AMaze">
    <p>
        <div class="form-group" style="margin-bottom:15px;">
            <label>Width:</label><br />
            <input asp-for="Width" max="100" class="form-control" style="width:80px; margin-right:20px;" />
            <label>Height:</label><br />
            <input asp-for="Height" max="100" class="form-control" style="width:80px;" />
        </div>
        <button type="submit" class="btn btn-success">New maze</button>
    </p>
</form>

<div class="row">
    <div class="w-100 mx-auto" style="font-family:'Lucida Console', monospace;">
        @* Print intro text *@
        <br />
        Start Here!<br />
        &nbsp;V
        @* Render maze *@
        @* Start with top line *@
        @for (int i = 2; i <= Model.Width; i++)
        {
            <text>_&nbsp;</text>
        }
        <br />

        @* Print bottom and right borders of each cell *@
        @for (int row = 1; row <= Model.Height; row++)
        {
            for (int col = 1; col <= Model.Width; col++)
            {
                // Print left side of maze
                if (1 == col)
                {
                    <text>|</text>
                }

                // Bottom
                if (row == Model.Height || (!Model.GetAt(col, row + 1).IsConnectedTo(Model.GetAt(col, row))))
                {
                    if (Model.GetAt(col, row) != Model.End)
                    {
                        <text>_</text>
                    }
                    else // Print end cell with no bottom as an exit
                    {
                        <text>&nbsp;</text>
                    }
                }
                else
                {
                    <text>&nbsp;</text>
                }

                // Right
                if (col == Model.Width || (!Model.GetAt(col + 1, row).IsConnectedTo(Model.GetAt(col, row))))
                {
                    <text>|</text>;
                }
                else
                {
                    <text>&nbsp;</text>
                }
            }
            <br />
        }
        <br />

        @* TODO: Enable navigation of the maze! *@

    </div>
</div>
@*<div>
    <a asp-controller="Maze" asp-action="AMaze">New Maze</a>
</div>*@
