@{
    ViewData["Title"] = "The Magical Mazorium";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the magical Mazorium!</h1>
    <a asp-controller="Maze" asp-action="AMaze">Gimme a maze</a>
</div>
